.bg-prefer {
    background-image: linear-gradient(to left, #3c8d1382, #6e8722c6);
}

.bg-prefer-2 {
    background-image:  linear-gradient(to right, #37580f, #dae1c1ca) !important;
}


.title-main {
    color: white;
    
}

