
#logo-img {
  width: 200px;
}

.logo-box {
  width: fit-content;
  /* margin-left: 5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.school-box {
  width: fit-content;
  align-self: center;
  display: none;
}
.logo-title {
  font-weight: 600;
  color: rgb(255, 255, 255);
  z-index: 5;
  opacity: 100%;
  width: fit-content;
  margin: 0;
  /* display: inline-block; */
}

.school-name {
  /* text-align: center; */
  color: rgb(255, 251, 0) !important;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}

.school-info{
  /* text-align: center; */
  color: rgb(255, 251, 0) !important;
  /* font-weight: 600; */
  margin-top: auto;
  margin-bottom: auto;
}

.school-message {
  font-size: 1.5rem;
  line-height: 1.5;
}

.welcome-message {
  text-align: center;
  margin-top: 10px;
  color: rgb(255, 251, 0);
}

.title-container {
  background-image: linear-gradient(to right, #36581f80, #84b61959);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 30%; */
  padding: 2% 10%; 
z-index: 4;
}


.portal-container {
    /* position: fixed;
    right: 500px; */

    width: fit-content;
    height: fit-content;
    
}


.portal-link {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 1.2rem;

}

#click-here-link {
    color: rgb(8, 179, 20);
}

.hidden {
    display: none;
}





